<div id="<%= dom_id student %>">
  <div>
    <strong>Name:</strong>
    <%= link_to student.name, student_path(student) %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= student.email %>
  </div>

</div>
