<div id="<%= dom_id student %>">
  <div>
    <strong>Name:</strong>
    <%= student.name %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= student.email %>
    <p>a change</p>
  </div>

</div>
